[submodule "compiler/llvm"]
	path = compiler/llvm
	url = git@github.com:LinxISA/llvm-project.git
[submodule "kernel/linux"]
	path = kernel/linux
	url = git@github.com:LinxISA/linux.git
	ignore = dirty
[submodule "emulator/qemu"]
	path = emulator/qemu
	url = git@github.com:LinxISA/qemu.git
[submodule "tools/pyCircuit"]
	path = tools/pyCircuit
	url = git@github.com:LinxISA/pyCircuit.git
[submodule "lib/glibc"]
	path = lib/glibc
	url = git@github.com:LinxISA/glibc.git
[submodule "lib/musl"]
	path = lib/musl
	url = git@github.com:LinxISA/musl.git
[submodule "rtl/LinxCore"]
	path = rtl/LinxCore
	url = git@github.com:LinxISA/LinxCore.git
